* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait and Landscape iphones*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}
*/* {
    border: 1px solid red;
} */
* {
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
a {
    text-decoration: none;
}

body {
    background-color: rgb(233, 212, 226);

}
@media screen and (min-width: 400px) {
    body {
    background-color: lightgreen;

}
}

@media screen and (min-width: 800px) {
    body {
      background-color: rgb(233, 212, 226);
    }
  }

article {
    margin-top: 40px;
    line-height: 30px;
  }
.tab {
    margin: 5%;
}
 .button {
    background-color: #070707; /* Green */
    border-radius: 50%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 80%;
  }
  @media screen and (max-width: 600px) {
    .button {
        background-color: #3f0052; /* Green */
      width: 100%;
    }
  }

.button:hover {
    color: plum;
  }
  
  
h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}
h2 {
    margin-top: 1%;
    margin-bottom: 1%;
}
h5 {
    color:plum
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    text-align: center;
}
.row-2 {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    border-top: 3px solid slategray !important;
    border-bottom: 3px solid slategray !important;
}

.col-1 {
    width: 8.33%;
    text-align: left;

}
.col-2 {
    width: 16.66%;
    
    
}
.col-3 {
    width: 25%;
    
}
.col-4 {
    width: 33.33%;
    text-align: center;
    padding: 2px
    
}
.col-5 {
    width: 41.66%;
    
}
.col-6 {
    width: 50%
    
}
.col-7 {
    width: 58.33%;
    
}
.col-8 {
    width: 66.66%;
    text-align: left;
}

.col-9 {
    width: 75%;
    
}
.col-10 {
    width: 83.33%;
    text-align: center;
    
}
.col-11 {
    width: 91.66%;
    
}
.col-12 {
    width: 100%;
    text-align: center;
    
}

footer {
    background-color: black !important;
    text-align: center;
    border-top: 3px solid slategray !important;
    
}


